* {
	box-sizing: border-box;
}

body {
	background-color: #61122f;
}

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
}

.navbar-brand h1 {
	color: green;
	text-decoration-color: unset;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	font-size: 1.5em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	color: inherit;
	text-decoration: none;
}
#nav-collapse li {
	text-align: center;
	font-weight: bold;
}

#nav-collapse a{
	color: green;

}
#nav-collapse a:hover, #nav-collapse a:focus {
	text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-head {
	color: white;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
}

#main-content {
	height: 1004px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	opacity: 0.7;
	box-shadow: 1px 5px 15px 10px #333;
}

#item-1 , #item-2 , #item-3 {
	height: 333px;

}

.item-heading {
	text-align: center;
	font-weight: 600;
	padding-top: 10px;
	color: gold;
}

#item-1 p, #item-2 p, #item-3 p {
	color: black;
	font-weight: 600;
} 